* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none; /* Hides the default cursor */
}

#main {
  background-color: #121212;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures cursor stays visible within bounds */
}

.cursor {
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  animation: pulse 1s infinite ease-in-out;
}

h1 {
  font-size: 12vw;
  font-weight: bolder;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.5);
}

/* #main:hover h1 {
  transform: scale(1.1);
} */

/* @keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7),
      0 0 30px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.3);
  }
} */
